<html>
<head><title>Ejemplo de formulario sencillo</title></head>
<body>

<h3>Formulario muy sencillo</h3>

  <FORM >
    <P>
    Nombre: <INPUT type="text" name="nombre"><BR>
    descripcion: <INPUT type="text" name="apellido"><BR>
    email: <INPUT type="text" name="email"><BR>

    <br>

 </FORM>

	</div>

	</div>
	<div class="row">
		<label for="message">Tu mensaje:</label><br />
		<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
	</div>
	<input id="submit_button" type="submit" value="Send email" />
    <br>
    <br>
   Es usted bueno e ajedrez <br>
    <input type="radio" > SI<BR>
    <input type="radio" > NO<BR>
    <input type="radio" > TAL VEZ<BR>

    </P>
    <label FOR=”impuestos”>Ingrese su porcentaje de victorias</LABEL>
    <select ID=”impuestos” NAME=”impuestos”>


<option VALUE=”25”>10%</option >
<option  VALUE=”25”>20%</option >
<option  VALUE=”25”>30%</option >
<option VALUE=”25”>40%</option >
<option  VALUE=”25”>50%</option >
<option  VALUE=”25”>60%</option >
<option  VALUE=”25”>70%</option >
<option  VALUE=”25”>80%</option >
<option VALUE=”25”>90%</option >
<option  VALUE=”25”>100%</option >

<br>
<form  action>
<input type="file" name="a" accept="image/">
<input type=submit">
</form>
<br>
<br><a href="file:///C:/Users/UTB/Desktop/Inicial.html">Principal</a>
</body>
</html>
